# 유관데이터 전처리

* 서울대 대상환자 :  
* 아주대 대상환자 : 482명
* 연세대 대상환자 : 275명

# 서울대

In [2]:
import pandas as pd, numpy as np
import os, tqdm, warnings
import datetime as dt

from time import time
from timeit import default_timer as timer
from pytz import timezone

warnings.filterwarnings('ignore')

# Timer
start = timer()

# set path
SNU_path = '/VOLUME/nia_vent_weaning/raw_data/SNU/'
dst_path =  '/VOLUME/nia_vent_weaning/data/SNU/'
# set variables
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
# Directory list in SNU folder
dir_list = os.listdir(SNU_path)     # ['1-002~1-021', '1-090~1-379', '1-022~1-089', '1-380~1-756']
dir_list.remove('.DS_Store')

for v in var_list:
    globals()['{}'.format(v)] = pd.DataFrame()  # define empty dataFrame
    

for idx in tqdm.tqdm(range(len(dir_list))):
    
    final_path = SNU_path + dir_list[idx] + '/'

    for f_n in os.listdir(final_path):

        if f_n != '.DS_Store':
            var = f_n.split('.')[0]

            if f_n[-3:] == 'csv':
                tmp_df = pd.read_csv(final_path + f_n, encoding='cp949')

            elif f_n[-4:] == 'xlsx':
                tmp_df = pd.read_excel(final_path + f_n)

            globals()['{}'.format(var)] = pd.concat([globals()['{}'.format(var)], tmp_df])  # define empty dataFrame

for v in var_list:
    globals()['{}'.format(v)].to_csv(dst_path + v + '.csv')


end = timer()
print('Code Execution Finished at ', dt.datetime.now(timezone('Asia/Seoul')), '\tTime elapsed: ', dt.timedelta(seconds=end-start), 'seconds')

100%|██████████| 4/4 [03:24<00:00, 51.15s/it]

Code Execution Finished at  2022-11-04 15:24:02.411726+09:00 	Time elapsed:  0:03:33.135148 seconds

* File Check

In [140]:
path = '/VOLUME/nia_vent_weaning/data/SNU/'
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
idx = 6

df = pd.read_csv(path + var_list[idx] + '.csv', index_col=0)
df

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
0,1.0,2,1,2,Respiratory management/Ventilator_FiO2(setting),2021.9.23 18:00,35,NaN,%
1,1.0,2,1,2,Respiratory management/Ventilator_PEEP(setting),2021.9.23 18:00,5,NaN,cmH2O
2,1.0,2,1,2,Respiratory management/Ventilator_Minute venti...,2021.9.23 18:00,7.8,NaN,L/min
3,1.0,2,1,2,Respiratory management/Ventilator_Meam airway ...,2021.9.23 18:00,8.1,NaN,cmH2O
4,1.0,2,1,2,Respiratory management/Ventilator_Peak inspira...,2021.9.23 18:00,19.4,NaN,cmH2O
...,...,...,...,...,...,...,...,...,...
450325,NaN,756,1,snu-756,Respiratory management/Ventilator_Peak inspira...,2022-08-26 12:30:00,20.8,,cmH2O
450326,NaN,756,1,snu-756,Respiratory management/Ventilator_PEEP(setting),2022-08-26 12:30:00,8,,cmH2O
450327,NaN,756,1,snu-756,Respiratory management/Ventilator_PSV(setting),2022-08-26 12:30:00,10,,cmH2O
450328,NaN,756,1,snu-756,Respiratory management/Ventilator_Respiratory ...,2022-08-26 12:30:00,14,,/min
450329,NaN,756,1,snu-756,Respiratory management/Ventilator_Tidal volume...,2022-08-26 12:30:00,497,,ml

In [141]:
df[df['patient_id']==7]

,hospital_id,patient_id,hadm_id,mv_id,parameter,parameter_datetime,value,valuenum,unit
23609,NaN,7,1,7,Respiratory management/Ventilator_I:E(setting),2021.9.13 11:26,1:02,NaN,NaN
23610,NaN,7,1,7,Respiratory management/Ventilator_Trigger type...,2021.9.13 11:26,flow,NaN,NaN
23611,NaN,7,1,7,Respiratory management/Ventilator mode(setting),2021.9.13 11:26,PC-CMV,NaN,NaN
23612,NaN,7,1,7,Respiratory management/Ventilator_E-sens or ES...,2021.9.13 11:26,2,NaN,NaN
23613,NaN,7,1,7,Respiratory management/Ventilator_Respiratory ...,2021.9.13 11:28,20,NaN,/min
...,...,...,...,...,...,...,...,...,...
25333,NaN,7,1,7,Respiratory management/Ventilator_Peak inspira...,2021.9.18 14:00,7.6,NaN,cmH2O
25334,NaN,7,1,7,Respiratory management/Ventilator_Minute venti...,2021.9.18 14:00,7.4,NaN,ml
25335,NaN,7,1,7,Respiratory management/Ventilator_PSV(setting),2021.9.18 14:00,0,NaN,cmH2O
25336,NaN,7,1,7,Respiratory management/Ventilator mode(setting),2021.9.18 14:00,CPAP/PSV,NaN,NaN
25337,NaN,7,1,7,Respiratory management/Ventilator_Tidal volume...,2021.9.18 14:00,528,NaN,ml

In [142]:
print('Weaning Success patients: ', len(ventilator[ventilator['re_mv_status']==0]))
print('Weaning Fail patients: ', len(ventilator[ventilator['re_mv_status']==1]))

Weaning Success patients:  703
Weaning Fail patients:  52

# 아주대

In [10]:
import pandas as pd, numpy as np
import os, tqdm, warnings
import datetime as dt

from time import time
from timeit import default_timer as timer
from pytz import timezone

warnings.filterwarnings('ignore')

# Timer
start = timer()

# set path
AJ_path = '/VOLUME/nia_vent_weaning/raw_data/AJU/'
dst_path =  '/VOLUME/nia_vent_weaning/data/AJ/'
# set variables
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
# Directory list in SNU folder
dir_list = os.listdir(AJ_path)     # ['1-002~1-021', '1-090~1-379', '1-022~1-089', '1-380~1-756']
dir_list.remove('.DS_Store')
dir_list.remove('ventilator_parameter_1.csv')
dir_list.remove('ventilator_parameter_2.csv')

for v in var_list:
    globals()['{}'.format(v)] = pd.DataFrame()  # define empty dataFrame
    

for idx in tqdm.tqdm(range(len(dir_list))):
    
    final_path = AJ_path + dir_list[idx] + '/'

    for f_n in os.listdir(final_path):

        if f_n != '.DS_Store':
            var = f_n.split('.')[0]

            if f_n[-3:] == 'csv':
                try:
                    tmp_df = pd.read_csv(final_path + f_n, encoding='cp949')
                except:
                    tmp_df = pd.read_csv(final_path + f_n, encoding='utf-8')

            elif f_n[-4:] == 'xlsx':
                tmp_df = pd.read_excel(final_path + f_n)

            globals()['{}'.format(var)] = pd.concat([globals()['{}'.format(var)], tmp_df])  # define empty dataFrame

for v in var_list:
    globals()['{}'.format(v)].to_csv(dst_path + v + '.csv')


end = timer()
print('Code Execution Finished at ', dt.datetime.now(timezone('Asia/Seoul')), '\tTime elapsed: ', dt.timedelta(seconds=end-start), 'seconds')

100%|██████████| 3/3 [00:01<00:00,  2.07it/s]

Code Execution Finished at  2022-11-04 15:52:55.087625+09:00 	Time elapsed:  0:00:05.613992 seconds

* File Check

In [11]:
path = '/VOLUME/nia_vent_weaning/data/AJ/'
var_list = ['demographics', 'diagnosis', 'drug', 'heightandweight', 'lab', 'ventilator', 'ventilator_parameter', 'vitalsign']
idx = 5

df = pd.read_csv(path + var_list[idx] + '.csv', index_col=0)
df

,hospital_id,patient_id,hadm_id,mv_id,ventilator_type,interface,intubation_time,tracheostomy_time,extubation_time,mv_starttime,mv_endtime,mv_wave_starttime,mv_wave_endtime,re_mv_status
0,2,2_001,1,aju_001,1,2,2019-04-15 21:00:00,NaN,NaN,2019-04-15 21:00:00,전원,2019-04-23 20:20:00,2019-05-02 14:50:00,0
1,2,2_002,1,aju_002,1,2,2019-04-15 21:00:00,NaN,NaN,2019-04-23 20:29:01,2019-05-02 15:56:00,2019-04-23 20:20:00,2019-05-02 15:00:00,0
2,2,2_003,1,aju_003,2,2,2019-04-25 14:43:00,NaN,2019-04-30 16:55:00,2019-04-30 10:57:01,2019-04-30 16:45:00,2019-04-25 14:30:00,2019-04-30 16:10:00,0
3,2,2_004,1,aju_004,2,2,2019-06-19 0:41:00,NaN,2019-06-25 12:40:00,2019-06-19 1:06:01,2019-06-25 7:07:01,2019-06-19 1:00:00,2019-06-24 14:00:00,0
4,2,2_006,1,aju_006,2,2,2019-04-21 23:41:00,NaN,NaN,2019-04-22 5:59:01,2019-05-04 11:47:01,2019-04-22 5:50:00,2019-05-04 23:50:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,2,2_490,1,aju_490,2,2,2021-09-19 05:20:00,NaN,2021-09-28 19:45:00,2021-09-19 05:20:00,2021-09-28 19:45:00,2021-09-19 05:20:00,2021-09-28 19:00:00,1
146,2,2_492,1,aju_492,2,2,2021-09-18 22:50:00,2021-10-07 15:00:00,NaN,2021-09-18 22:50:00,2021-10-13 09:00:00,2021-09-19 08:00:00,2021-10-13 09:00:00,0
147,2,2_497,1,aju_497,2,2,2021-10-21 02:03:00,2021-10-21 17:40:00,NaN,2021-10-21 02:03:00,2021-10-23 14:10:00,2021-10-22 07:30:00,2021-10-23 13:50:00,0
148,2,2_516,1,aju_516,1,2,2022-02-20 11:30:00,NaN,2022-02-27 11:54:00,2022-02-20 11:30:00,2022-02-27 11:54:00,2022-02-20 11:30:00,2022-02-24 20:20:00,0
149,2,2_521,1,aju_521,1,2,2022-04-01 07:50:00,NaN,2022-04-08 07:05:00,2022-04-01 07:50:00,2022-04-08 07:05:00,2022-04-01 07:50:00,2022-04-07 19:10:00,1

In [12]:
ventilator = pd.read_csv('/VOLUME/nia_vent_weaning/data/AJ/ventilator.csv', index_col=0)

print('Weaning Success patients: ', len(ventilator[ventilator['re_mv_status']==0]))
print('Weaning Fail patients: ', len(ventilator[ventilator['re_mv_status']==1]))

Weaning Success patients:  396
Weaning Fail patients:  86

* Integrating Ventilator Data

In [14]:
vent_df1 = pd.read_csv('/VOLUME/nia_vent_weaning/raw_data/AJU/ventilator_parameter_1.csv')
venf_df2 = pd.read_csv('/VOLUME/nia_vent_weaning/raw_data/AJU/ventilator_parameter_2.csv')
vent_df1.head()

In [ ]:
print('Vent 1 File: ', vent_df1.shape)
print('Vent 2 File: ', vent_df2.shape)